
.vscode/c_cpp_properties.json
*.json

# Objetos compilados
*.o


# Binários gerados
tcpCliente
tcpServer
udpCliente
udpServer

concorrente
iterativo
thread
thread_e_fila

# Diretório de arquivos recebidos
Recebidos/


Trabalho1/Arquivos/1000000b.txt
