
.vscode/c_cpp_properties.json
*.json

# Objetos compilados
*.o

# Binários gerados
tcpCliente
tcpServer
udpCliente
udpServer

# Diretório de arquivos recebidos
Recebidos/


Trabalho1/Arquivos/1000000b.txt
